streamlit
langchain-ollama
langchain-chroma
langchain-huggingface
langchain-classic
langchain-core
langchain-community
langchain-cohere
langchain-experimental
langchain-google-genai
python-dotenv
scikit-learn
numpy
pypdf
sentence-transformers
